* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .header{
  background-color: aqua;
  height: 100px;
  width: 100%;
} */
body {
  display: flex;
  height: 100vh;
  background-color: #343a40;
  /* background-image: url("../assets/bg1.jpg"); */
  background-position: right;
}

#container {
  margin: auto;
  display: flex;
  color: #f8f9fa;
  flex-direction: column;
  width: 500px;
  box-shadow: 1px 2px 71px -6px rgba(0, 0, 0, 0.67);
  height: fit-content;
  font-family: "Ubuntu", sans-serif;
  background-color: #212529;
  padding: 50px 20px;
  border-radius: 10px;
}
#Heading {
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
}
label {
  font-size: 1.2em;
  font-weight: 500;
  margin: 10px 0px;
}
input {
  padding: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  border: none;
  background-color: #6c757d;
  border-bottom-right-radius: 10px;
  font-size: 19.2px;

  color: #f8f9fa;
}
input:focus {
  outline: none;
  background-color: none;
}
input::placeholder {
  color: #f8f9fa;
  font-size: 19.2px;
}
.row {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50px;
}
.icon {
  height: 50px;
  margin-right: 1px;
  background-color: #6c757d;
  border-top-left-radius: 10px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  fill: white;
}
button {
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  background-color: #248277;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  transition-duration: 0.25s;
}
button:hover {
  background-color: #036666;
}
span {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #99e2b4;
}
span > span > a {
  margin: 0px 5px;
}
a:hover {
  color: #06d6a0;
}
.form-group {
  width: 100%;
  height: fit-content;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50px;
}
select {
  padding: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  border: none;
  background-color: #6c757d;
  border-bottom-right-radius: 10px;
  font-size: 19.2px;
  color: #f8f9fa;
}
.headerText {
  width: 100%;
  padding: 20px;
  color: white;
  font-size: 20px;
}
.loginFailed {
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.cardItem {
  padding-left: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #248277;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  padding-right: 20px;
}
.cardItem li {
  list-style-type: none;
  font-size: 24px;
}
.cardItem span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.insertInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #248277;
  margin-bottom: 30px;
}
.insertInput input {
  margin-left: 20px;
  border-radius: 10px;
}

.logOut {
  /* display: flex;
  justify-content: right;
  text-align: center; */
  background-color: red;
}
/* .selectRow {
  animation: background-fade 10s forwards;
}
@keyframes background-fade {
  99.9% {
    background: red;
  }
  100% {
    background: red;
  }
} */
